# =====================
# SOURCE DATABASE
# =====================
SOURCE_SERVER=your_source_server
SOURCE_PORT=1433
SOURCE_DATABASE=csdl
SOURCE_USERNAME=your_source_username
SOURCE_PASSWORD=your_source_password

# =====================
# TARGET DATABASE
# =====================
TARGET_SERVER=localhost
TARGET_PORT=1433
TARGET_DATABASE=bank_dwh
TARGET_USERNAME=your_target_username
TARGET_PASSWORD=your_target_password

# =====================
# SQL SERVER DRIVER
# =====================
ODBC_DRIVER=ODBC Driver 17 for SQL Server